.ug-department {
  --container-width: 80rem;
  --clr-title: #000000;
  --text: #4c4949;
  --ff-primary: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-body: 1.25rem;
  --fs-name: 1.375rem;
  --fs-designation: 1rem;

  width: 100%;
  margin: 0 auto;
  padding: 4rem 0 0;
}

.ug-department__tab-content {
  padding: var(--primary-padding);
}

.ug-department__single-page > [id] {
  scroll-margin-top: 7rem;
}

.ug-department__single-page #department-vision {
  margin-top: var(--primary-margin-top);
}

.ug-department__single-page > [id] + * {
  margin-top: 2rem;
}

.ug-department__single-page > .statistics {
    width: 100vw;
  margin-inline: calc(50% - 50vw);
}

@media (max-width: 48rem) {
  .ug-department {
    padding: 3rem 0 4rem;
  }

  .ug-department__tab-content {
    padding: 0 4rem 3rem;
  }
}
