.vision-mission {
  width: 100%;
}

.vision-mission__section:not(:last-child) {
  margin-bottom: 3.5rem;
}

.vision-mission__text {
  margin-top: 2rem;

  color: var(--clr-text);

  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: 1.8;
}

.vision-mission__list {
  margin-top: 2rem;
  padding: 0;

  list-style: none;
}

.vision-mission__item {
  /* margin-bottom: 0.875rem; */

  color: var(--clr-text);

  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: 1.8;
}
