.home-about-mutt {
  display: flex;
  gap: 5rem;
  padding: clamp(3.25rem, 5vw, 4rem);
  background-color: #F6F7FA;
}
.home-about-mutt__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
}

.home-about-mutt__content p {
  font-size: 1.5rem;
  line-height: 1.75;
  text-align: justify;
}

.home-section-title {
  font-size: var(--section-title);
  font-weight: 800;
}
.home-about-mutt__image {
  width: min(100%, 34rem);
  margin: 0 auto;
}