.placement-menu-page {
  margin-top: var(--primary-margin-top);
  padding: 0rem 4rem;
}

@media (max-width: 48rem) {
  .placement-menu-page {
    box-sizing: border-box;
    margin-top: var(--mobile-margin-top);
    padding: var(--mobile-padding);
  }

  .placement-menu-page .department-cse-events {
    margin-top: 0;
    padding: 0;
  }
}
