.nss {

     --career-paragraph-size: 1.25rem;
  /* --text: #4c4949; */
  --another--par-clr: #4c4949;
  padding: 0 4rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nss__section {

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nss__section p,
.nss__intro-content p,
.nss__list p {
  color:var(--text);
  font-size: var(--font-size);
  line-height: 1.8;
  margin: 0;
  text-align: justify;
}
.nss__intro {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nss__intro-image {
  flex: 0 0 16rem;
}

.nss__intro-image img {
  width: 70%;
  display: block;
}

.nss__intro-content {
  flex: 1;
}

.nss__list {
  margin: 0;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nss__list li {
  color: var(--text);
}

.nss__list li::marker {
  color: var(--text);
}

.nss__list p {
  margin: 0;
  color: var(--text);
  font-size: var(--career-paragraph-size);
  line-height: 1.8;
}
.nss__section p {
  color: var(--text);
  font-size: var(--career-paragraph-size);
  line-height: 1.8;
  margin: 0;
}