:root {
  --primary-color: #f26c13;
  --text: #4c4949;

  --container-padding: 4rem;
  --container-marging-top: 3rem;
  --section-margin-bottom:2rem;

  --heading-1: 2.5rem;
  --paragraph-size: 1.25rem;

  --section-gap: 3rem;
  --paragraph-gap: 1rem;

  --line-height: 1.8;
}
.iic-container {
  padding: var(--primary-padding);
  text-align: justify;
  margin-top: var(--primary-margin-top);
}

.iic-container h1 {
  color: var(--primary-color);
  font-size: var(--heading-1);
  margin-bottom: 2rem;
}

 .iic-section {
  /* margin-bottom: var(--section-gap); */
  display:flex;
  flex-direction: column;
  /* margin-bottom: var(--section-margin-bottom); */
} 

.iic-section p {
  color: var(--text);
  font-size: var(--font-size);
  text-align: justify;
  line-height: var(--line-height);
  margin-bottom: var(--paragraph-gap);
}

.iic-section ol {
  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding-left: 1rem;
}
