:root {
  --primary-color: #f26c13;
  --text-color: #4c4949;

  --container-padding: 4rem;

  --heading-1: 2.5rem;
  --paragraph-size: 1.25rem;

  --section-gap: 3rem;
  --paragraph-gap: 1rem;

  --line-height: 1.8;
}
.iic-container {
  padding: 0 4rem;
}

.iic-container h1 {
  color: var(--primary-color);
  font-size: var(--heading-1);
  margin-bottom: 2rem;
}

.iic-section {
  margin-bottom: var(--section-gap);
}

.iic-section p {
  color: #4c4949;
  font-size: 1.25rem;
  text-align:justify;
  line-height: var(--line-height);
  margin-bottom: var(--paragraph-gap);
}

.iic-section ol {
  color: #4c4949;
  font-size: 1.25rem;
  line-height: var(--line-height);
}
