.hostel-facility__content {
  --mobile-margin-top: 1.5rem;
  --mobile-padding: 0 1.25rem;
  gap: 1.5rem;
}

.hostel-facility__intro-list,
.hostel-facility__facility-list {
  gap: 1rem;
  padding-left: 1.5rem;
}

.hostel-facility__intro-item,
.hostel-facility__facility-item {
  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.hostel-facility__description {
  color: var(--text);
  font-size: 1rem;
  line-height: var(--line-height);;
  text-align: justify;
}

@media (max-width: 48rem) {
  .hostel-facility {
    margin-top: var(--mobile-margin-top);
  }
  .hostel-facility__content {
    box-sizing: border-box;
    gap: 0;
    margin-top: 0;
    padding: var(--mobile-padding);
  }

  .hostel-facility__intro-list,
  .hostel-facility__facility-list {
    gap: 0rem;
    padding-left: 1.25rem;
  }

  .hostel-facility__intro-item,
  .hostel-facility__facility-item,
  .hostel-facility__description {
    font-size: 0.95rem;
    line-height: var(--line-height);
  }
  .hostel-facility__description{
    margin-top: 1rem;
  }
}

@media (max-width: 36rem) {
  .hostel-facility__intro-list,
  .hostel-facility__facility-list {
    padding-left: 1rem;
  }

  .hostel-facility__intro-item,
  .hostel-facility__facility-item,
  .hostel-facility__description {
    font-size: 0.9rem;
  }
}