.career-development {
  width: 100%;
  padding: 0 4rem;
  margin-top: 3rem;
  box-sizing: border-box;
}
.career-development p {
  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

@media (max-width: 64rem) {
  .career-development {
    padding: 0 2rem;
  }
}

@media (max-width: 48rem) {
  .career-development {
    padding: 0 1rem;
  }
}