:root {
  --ercica-page-padding: 4rem;
  --ercica-section-gap: 3.5rem;
  --ercica-paragraph-gap: 1.5rem;

  --ercica-text-color: #4c4949;
  --ercica-line-height: var(--line-height);
  
  --ercica-margin-top: var(--primary-margin-top);
}

.ercica {
  width: 100%;
  margin-top: var(--primary-margin-top);
}

.ercica__container {
  padding: 0 var(--ercica-page-padding);
}

.ercica__section:first-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.ercica__section + .ercica__section {
  margin-top: var(--ercica-paragraph-gap);
}

.ercica__section + .ercica__section > .department-section-heading {
  margin-top: var(--primary-margin-top);
}

.ercica__content {
  display: flex;
  flex-direction: column;
  /* gap: var(--para-desc-gap); */
}

.ercica__content p {
  margin: 0;

  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--ercica-text-color);
  text-align: justify;
}

.ercica__content p + p {
  margin-top: var(--para-desc-gap);
}

@media (max-width: 48rem) {
  .ercica {
    box-sizing: border-box;
    margin-top: var(--mobile-margin-top);
    padding: var(--mobile-padding);
  }

  .ercica__container {
    padding: 0;
  }
}