.facilities-sub {
  --text: #4c4949;
  padding:   0 4rem;
  margin-top: var(--primary-margin-top);
}

.facilities-sub__description {
  /* margin-top: 1.5rem; */
  line-height: 1.8;
  font-size: var(--font-size);
  color: var(--text);
  text-align: justify;
}
