.facilities-sub {
  --text: #4c4949;
  padding:   0 4rem;
  margin-top: var(--primary-margin-top);
}

.facilities-sub__description {
  margin: 0;
  line-height: var(--line-height);
  font-size: var(--font-size);
  color: var(--text);
  text-align: justify;
}

.facilities-sub__description + .facilities-sub__description {
  margin-top: var(--para-desc-gap);
}

@media (max-width: 768px) {
  .facilities-sub {
    margin-top: var(--mobile-margin-top);
    padding: var(--mobile-padding);
  }

  .facilities-sub__description {
    font-size: var(--mobile-font-size);
    line-height: var(--mobile-line-height);
  }
}
