.facilities-sub {
  --text: #4c4949;
  padding:  4rem 4rem 0 4rem;
}

.facilities-sub__description {
  margin-top: 1.5rem;
  line-height: 1.8;
  font-size: 1.25rem;
  color: var(--text);
  text-align: justify;
}
