:root {
  --career-page-padding: 4rem;
  --career-section-gap: 2rem;
  --career-heading-gap: 2rem;
  --career-content-gap: 1.5rem;
  --career-paragraph-size: 1.25rem;
  --text: #4c4949;
  --career-line-height: 1.8;
  --career-font-family: "Poppins", sans-serif;
}

.rich-description {
  
  gap: 0;
  padding: 0 ;
  margin-top: var(--primary-margin-top);
  text-align: justify;
}

.rich-description > .department-section-heading {
  margin-bottom: 1rem;
}

.rich-description__content {
  
  margin-top: var(--career-content-gap);
  /* gap: var(--career-content-gap); */
}

.rich-description p {
  margin: 0;
  font-size: var(--font-size);;
  color: var(--text);
  font-family: var(--career-font-family);
  line-height: var(--line-height);
  text-align: justify;
}

.rich-description strong {
  color: var(--text);
  font-weight: 600;
}

@media (max-width: 48rem) {
  :root {
    --career-page-padding: 2rem;
  }
}
